.page {
  /* width: 100%; */
  min-height: 900px;
  background-color: lightgoldenrodyellow;
}

.page-heading {
  text-align: center;
}

.page-heading h2 {
  margin: 0;
  font-size: 35px;
  padding-top: 20px;
  font-weight: 400;
}

.page-heading p {
  font-size: 18px;
  font-weight: 400;
}

.page-content {
  display: flex;
  justify-content: center;
}
