/* Css modules are isolated and can be used only where they are imported and their classes are used */

.list {
  padding: 20px;
  margin: 20px;
  background-color: lightpink;
  border: 2px solid hotpink;
}
