.Navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 18px;
}

.Navbar ul a {
  text-decoration: none;
  color: black;
  transition: 0.2s ease-in-out;
}

.Navbar ul a:hover {
  color: aliceblue;
}
