.ProductCard {
  border: 2px solid #564418;
  padding: 20px;
  border-radius: 4px;
  background: blanchedalmond;
  width: 200px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heading {
  font-size: 18px;
}
